/* Code from css-trics.com + normalize.css -> for reset default settings */
 
html {
    box-sizing: border-box;
}
 
*,
*:before,
*:after {
    box-sizing: inherit;
}
 
* {
    font-family: 'Noto Serif JP', serif;
    color: black;
}
 
 
body {
    background: #bdc3c7;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
 
  .logo-picture-me {
    width: 250px;
    height: 250px;
    display: block;
    border-radius: 150;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    object-fit: cover;
  }
 
  .logo-picture-me:after {
    content: " ";
    display: block;
    padding-bottom: 100%;
  }
 
  .logo-picture-me:hover {
      transform: rotate(5deg) scale(1.05);
  }
 
.name-header{
    font-size: 3em;
}
 
  .main-header {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
  }
 
  .name {
      padding: 0 4rem;
  }
 
  .logo-picture{
      display: flex;
      justify-content: center;
      align-items: center;
      flex: 1 1;
  }
 
  .location{
      display:flex;
      align-items: center;
  }
 
  .location-icon:hover{
      transform: scale(1.1)
  }
 
  .body-content{
      display: flex;
      justify-content: space-evenly;
  }
 
  .location-job{
      display: flex;
      align-items: center;
  }
 
  .schedule{
      width: 25px;
      height: 25px;
  }
 
  .location-job-icon:hover{
      transform: scale(1.2);
  }
 
  .github{
      display: flex;
      align-items: center;
      justify-content: center;
  }
 
  .github-icon:hover{
      transform: scale(1.2);
  }
 
  .github-text:hover{
    transform: scale(1.05);
}
 
.body-column-one {
    display: flex;
    flex-flow: column;
}
 
.body-column-two {
    display: flex;
    flex-flow: column;
}
 
.content-box{
    background-color: rgba(255,255,255,0.6);
    border-radius: 20px;
    padding: 30px;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 13px -8px rgba(0,0,0,0.75);
}
 
.inline-box {
    display: flex;
    flex-flow: row;
}
 

.inline-box .content-box {
    flex-grow: 1;
}

@media (max-width: 600px) {
   .main-header{
       flex-flow: column;
       justify-content: center;   
   }

   .body-content{
    flex-flow: column;
    justify-content: center;
   }
}